# Analysis

In [23]:
import pandas as pd

In [29]:
input_csv = "../data/plos2016.csv"
urls_csv = "../data/urls.csv"
query_csv = "../data/queries.csv"
og_csv = "../data/og_objects.csv"

In [30]:
articles = pd.read_csv(input_csv, index_col="doi")
urls = pd.read_csv(urls_csv, index_col="url_id")
queries = pd.read_csv(query_csv, index_col="query_id")
og_objects = pd.read_csv(og_csv, index_col="og_id")

In [31]:
og_objects[["reactions", "shares", "comments", "plugin_comments"]] = og_objects[["reactions", "shares", "comments", "plugin_comments"]].astype(int)

In [32]:
a = og_objects.merge(queries, left_on="query_id", right_index=True, how="left")
b = a.merge(urls, left_on="url_id", right_index=True, how="left")
c = b.merge(articles, left_on="doi", right_index=True, how="left")

In [34]:
dupl_queries = og_objects[og_objects.index.duplicated(keep=False)].query_id

In [35]:
mean = b[~b.query_id.isin(dupl_queries)].groupby("type")[['shares']].mean()
count = b[~b.query_id.isin(dupl_queries)].groupby("type")[['shares']].count()

mean['size'] = b.groupby("type").size()
mean

         shares  size
type
landing     1.2    10
metrics     0.0     1

In [36]:
b.groupby("type")[['reactions', 'shares', 'comments', 'plugin_comments']].mean()

         reactions  shares  comments  plugin_comments
type
landing       13.8     1.2       3.7              0.0
metrics        0.0     0.0       0.0              0.0

In [37]:
c[c.doi=="10.1371/journal.pone.0146621"][["type", "shares", "fb_url"]]

Empty DataFrame
Columns: [type, shares, fb_url]
Index: []

In [38]:
# Total shares by article
c.groupby(["doi"])[['shares']].sum().sort_values("shares", ascending=False).head()

                              shares
doi
10.1371/journal.pone.0157570       4
10.1371/journal.pone.0164151       4
10.1371/journal.pone.0150169       3
10.1371/journal.pone.0160062       3
10.1371/journal.pone.0147867       2

In [39]:
og_objects[["reactions", "shares", "comments", "plugin_comments"]] = og_objects[["reactions", "shares", "comments", "plugin_comments"]].astype(int)